<html>

<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet", type="text/css", href="../static/style/style.css">
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>


    <!-- Header -->
    <header>
         <!--top nav where logo and profile icon are located-->
    <div class=" d-flex justify-content-between  ms-2 me-2 mb-2" id="topnav">
      <!--clicking on the logo navigates user back to home page-->
      <a href="/">
        <!--image of the logo-->
        <img src="./static/img/logo2.png" class="img-fluid" width="300px" height="200px">
      </a>
      <!--profile picture of the account logged in-->
      <div>
      <a href="/login">
        <img src="./static/img/profile.png" id="profile-icon" class="img-fluid" width="45px" height="45px">
      </a>
      {% if current_user.is_authenticated %}
      <a type="submit" href="#" class="btn rounded-pill w-10 h-75 me-2 mt-2">{{current_user.name}}</a>
      <a type="submit" href="/logout" class="btn btn-primary w-10 h-75 me-2 mt-2">Logout</a>
      {% else %}
      <a type="submit" href="/login" class="btn btn-primary w-10 h-75 me-2 mt-2">Login</a>
      {% endif %}
      </div>
    </div>


        <!-- Navbar -->
        <!--navbar that allows users to go between pages (events, create events and bookings) (bootstrap navbar used)-->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid m-0">
        <!--allows navbar to be collapsed within a hamburger icon when screen size is reduced-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar items-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto text-center row w-100">
            <!--1st item - events - navigates users to home page to see all events-->
            <li class="nav-item col-sm-12 col-lg-3 " id="selected-item">
              <a class="nav-link active full-hover" aria-current="page" href="/">Events</a>
            </li>
            <!--2nd item - create events - navigates users to create event page so users can make a new event-->
            <li class="nav-item  col-sm-12 col-lg-3 ">
              <a class="nav-link full-hover" href="/create">Create Events</a>
            </li>
            <!--3rd item - Bookings - navigates users back to booking history page to see previously booked events-->
            <li class="nav-item   col-sm-12 col-lg-3 ">
              <a class="nav-link full-hover" href="/history">Bookings</a>
            </li>
            <!--4th item - tickets - place where users can access purchaced tickets (not prototyped in this version)-->
            <li class="nav-item col-sm-12  col-lg-3 ">
              <a class="nav-link full-hover" href="">Tickets</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

        <!-- Code for using Flask flash -->
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        {% block header %}

        {% endblock %}

    </header>

    <main>
    {% block content %}

    {% endblock %}

    </main>

    
    <footer class="footer mt-5">
         <div class="container mt-3">
      <div class="row  mb-2 ">
        <div class="col-sm-12 col-md-3 text-center ">
          <!--links event text to home page and category text to their repected events-->
          <ul>
            <li class="mb-2"><a href="/.#event-browse"><b>Events</b></a></li>
            <li><a href="/.#event-science">Science</a></li>
            <li><a href="/.#event_math">Maths</a></li>
            <li><a href="/.#event-eng">Engineering</a></li>
            <li><a href="/.#event-it">Information Technology</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 text-center ">
          <!--links create events text to create events page-->
          <ul>
            <li class="mb-2"><a href="/create"><b> Create Events</b></a></li>
            <li>Previously Created</li>
            <li>Create New Event</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 text-center ">
          <!--Links bookings text to bookings page-->
          <ul>
            <li class="mb-2"><a href="/history"><b>Bookings</b></a></li>
            <li>Booking History</li>
            <li>Book Events</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 text-center">
          <!--text regarding tickets (not protyped in this version but in another it would allow users to view each specific ticket they have bought in the past)-->
          <ul>
            <li class="mb-2"><a href=""><b>Tickets</b></a></li>
            <li>Ticket History</li>
          </ul>
        </div>
      </div>

      <!--image website logo for footer-->
      <div class="footer-img">
        <a href="index.html">
          <img src="./static/img/logo2.png" class="img-fluid" width="300px" height="200px" id="logo">
        </a>
      </div>
      <div>
        <!--website name and year-->
        <p class="text-center">&copy; 2025 STEM Workshops</p>
      </div>
    </div>
    </footer>

     <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

 
</body>

</html>