{% extends 'base.html' %}

  
{% block header %}
    
{% endblock %}


{% block content %}

  
    <!--heading of booking history page-->
    <section class="booking-header mt-4 pt-3 pb-3 mb-3 ">
      <div class="container text-center ">
        <h1>
          <!--clock history icon to represent booking history-->
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clock-history"
            viewBox="0 0 16 16">
            <path
              d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
            <path
              d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
          </svg>
          <!--title of bookings page-->
          Booking History
        </h1>
      </div>
    </section>






        <div class="d-flex justify-content-center">
      <div class="row row-cols-md-3 g-4 m-2">
        {% for booking in bookings %}
        <div class="col">
          <div class="card">
            <img src="{{ booking.event.image }}" class="card-img-top img-fluid event-card-img" alt="./static/img/s-l1200.jpg" >
            <div class="card-body">
              <!--row that displays event name and status next to one another-->
              <div class="row ">
                <!--BookingID-->
                  <h5 class=" event-name">
                   <!--booking ID of previously booked event-->
                        <b>BookingID:</b> {{ booking.order_id }}
                  </h5>    
              </div>
               <!--date and time of previously booked event (styled in a lighter and smaller font than other booking history details for greater contrast)-->
                      <p class="card-text"><small class="text-muted"><b>Booked:</b> {{ booking.created_at.strftime('%d/%m/%Y %I:%M %p') }}</small></p>
             
                        <!--event that has previously been booked-->
                        <h6 class="card-title mt-2">
                          <!--calendar icon that represents event-->
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path
                              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                          </svg>
                          <!--name of the event previously booked-->
                          <b>Event:</b> {{ booking.event.event_name }}
                        </h6>
                      
            </div>
            
          </div>
        </div>
        
      {% endfor %}
</div>
</div>


   
  

  {% endblock %}

  