{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-2 row-cols-md-3 g-4 m-2">
        <div>
          <div class="card">
            <img src="./static/img/event1.jpg" class="card-img-top" alt="./static/img/s-l1200.jpg">
            <div class="card-body">
              <!--row that displays event name and status next to one another-->
              <div class="row mb-2">
                <!--event name-->
                <div class="col-6 mt-2">
                  <h5 class="card-title ">
                    <!--clicking on the event name brings user to the event details page of the event selected--->
                    <a href="/details" class="text-decoration-none">
                      <div class="title">
                        <!--calendar icon that repsents event-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                          class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                          <path
                            d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                        </svg>
                        <!--name of event-->
                        Event 1
                      </div>
                    </a>
                  </h5>
                </div>

                <!--event status-->
                <div class="col-6 text-end">
                  <!--clicking on the event status button brings user to the event details page of the event selected--->
                  <a href="/details" class="text-decoration-none">
                    <!--event status text - located within a button coloured in a way that reflects the status (e.g green to represent open)-->
                    <button type="button" class="btn btn-success rounded-pill"><b>Open</b></button>
                  </a>
                </div>
              </div>

              <!--event time and date-->
              <!--clicking on the event date/time brings user to the event details page of the event selected--->
              <a href="/details" class="text-decoration-none">
                <!--row allows event date and time to be located next to each other-->
                <div class="row mb-1 ">

                  <!--event date-->
                  <div class="col-5 ">
                    <p class="datetime">
                      <!--calendar icon that represents date-->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path
                          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                        <path
                          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                      </svg>
                      <!--text displaying date of event-->
                      <b>2nd June 2025 </b>
                    </p>
                  </div>

                  <!--event time-->
                  <div class="col-7 ">
                    <p class="datetime">
                      <!--clock icon that represents time-->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                      </svg>
                      <!--text displaying start and end time of event-->
                      <b>3pm - 5pm </b>
                    </p>
                  </div>
                </div>
              </a>


              <!--location and event type details-->
              <!--clicking on the event location/type brings user to the event details page of the event selected--->
              <a href="/details" class="text-decoration-none">
                <div class="card-text">
                  <!--location details-->
                  <p class="detail mb-1">
                    <!--pin incon that represents location-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg>
                    <!--name of event's location-->
                    <b>Location:</b> 100 James Rd
                  </p>
                  <!--event type details-->
                  <p class="detail mb-1">
                    <!--name of event type-->
                    <b>Event Type:</b> In-person
                  </p>
                   <!--Event category-->
                   <p class="detail mb-1">
                    <!--name of event type-->
                    <b>Category:</b> Science
                  </p>
                </div>
              </a>
            </div>
            </div> <!-- closes card -->
        </div> <!-- closes column -->
      </div> <!-- closes row -->
{% endblock %}
