{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block header %}
    
{% endblock %}


{% block content %}
<div class="page-header ms-2">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using WTForms and Bootstrap -->
<div class="col-md-6 ms-2">
    {{render_form(form.create_event)}}
</div>

<!-- When you have Login form, then show the user a link to register -->
{% if heading == 'Login' %}
<div class="col-md-4 ms-2">
    <p>New user? <a href="{{url_for('auth.register')}}">Click here</a> to register.</p>
</div>
{% endif %}

{% endblock %}