{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block header %}
    
{% endblock %}


{% block content %}
<div class="page-header ms-2 mt-2">
    <h4>{{heading}}</h4>
    <h5>Max Tickets: {{event.max_num_tickets}}</h5>
</div>

<!-- Form rendering easy using bootstrap and wtf-flask -->
<div class="col-md-6 ms-2">
    {{render_form(form)}}
</div>

<!--  When login form is shown, show a link for user to register -->
{% if heading == 'Login' %}
<div class="col-md-4 ms-2">
    <p>New user? <a href="{{url_for('auth.register')}}">Click here</a> to register.</p>
</div>
{% endif %}

{% endblock %}